.movieCard {
  height: 360px;
  width: 200px;
  background: black;
  color: white;
  transition: scale 0.6s;
}

.movieCard:hover {
  scale: 1.05;
}

.movieCard > img {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.movieCard > h2,
.movieCard > p {
  margin: 1% 0 0 3%;
}

.movieCard > h2 {
  font-size: 1rem;
}